body, html{
	/*background-color: #121212;*/
}
.container-main{
	position: absolute;
	bottom: 4.69%;
	right: 0.47%;
	width: 80.10%;
	height: 85.35%;
	background-color: #1e1e1e;
}
.container-navbar{
	background-color: #383838;
	width: 99.06%;
	margin-left: 0.47%;
	margin-right: 0.47%;
	margin-top: 0.47%;
	margin-bottom: 0.88%;
	position: absolute;
	height: 8.20%;
	color: #FFFFFF;
	border-radius: 3px;
}

.container-left{
	background-color: #383838;
	color: #FFFFFF;
	left: 0.47%;
	bottom: 0.88%;
	position: absolute;
	width: 18.48%;
	height: 89.16%;
	margin-top: 0.88%;
	border-radius: 3px;
}

.segmentation{
	right: 3px;
	background-color: #bb86fc;
}

.file-select > .select-button {
  padding: 1rem;

  color: white;
  background-color: #2EA169;

  border-radius: .3rem;

  text-align: center;
  font-weight: bold;
}

/* Don't forget to hide the original file input! */
/*.file-select > input[type="file"] {
  display: none;
}*/
